/*
CSS Grid System
*/
* {
    box-sizing: border-box;
  }

/*  For nav bar */

.nav{
    width: 100%;
    height: 85px;
    display: flex;
    flex-direction: row;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    padding: 5px 5px;
}

.icon-img {
    width: 50px;
}

.logo img {
    height: 70px;
    margin-left: 10px;
}
.logo,
.profile_icons {
    flex-grow: 1;
    text-align: right;
}

.logo {
    text-align: left;
}

.profile_icons .icon-img {
    margin-right: 20px;
}

.search {
    flex-grow: 2;
}

.search input[type="text"] {
    width: 50%;
    height: 30px;
    padding: 5px;
}

#signin{
    width: 60px; 
    background-color:#1f508c;
    padding: 7px 7px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 5px;
}

/* For video part */

.container {
    width: 90%;
    margin: 0 auto;
    padding: 20px 0;
    display: flex;
    flex-direction: row;
    background-color: #f7f5eb;
}
.video {
    width: 70%;
    text-align: left;
    margin-right: 10px;
}
#main-video {
    width: 70%;
}

#main-video h3 {
    margin-top: 10px;
}

.description1 {
    width: 66%;
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    align-items: flex-end;
}

.section1 {
    display: flex;
    align-items: flex-start;
}

.section2 {
    display: flex;

}

.section2 p {
    margin-right: 10px;
}

#share {
    background-color: green;
    border: none;
    color: white;
    padding: 12px 24px;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;

}
.description2{
    width: 66%;
    margin: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.channel h3 {
    display: inline-block;
    vertical-align: middle;
}

.channel h3 span {
    font-weight: 100;
    font-size: 16px;
}

#subscribe {
    background-color: red;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

}
.description3{
  width:66%;
}

/* For Sidebar Part */

.cover_hed_flex{
  margin-top: -25px;
    display: flex;
    justify-content: space-between;
}
.autoplay {
    display: flex;
}

.container_flex{
   display: flex;
    margin: 10px 0;
    align-items: center;
}

.container_flex .container_flex_col h3 {
      font-size: 15px;
    text-align: left;  
}

.container_flex .container_flex_col p {
     font-size: 14px;
    text-align: left;    
}

.sideMenu{
  margin-left: 30px;
  width: 30%;
  text-align: right;
}

.sideVideo{
    max-width: 170px;
    height: 130px;
    display: inline;
    margin-right: 10px;
}

/*  footer section */

.footer{
    width: 90%;
    margin: 0 20px;
    padding: 20px 0;
}
.footerlogo{
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.pp{
  display: flex;
  display: inline-block;
  vertical-align: middle;
}

