.topnav {
  background-color: #4275f5;
  overflow: hidden;
}
.logo{
	color:#663399;
	font-size:25px;
	font-family:verdana;
	text-align:left;
	margin-top:0px;
	float:left;
	margin:0px;
	line-height:50px;
	padding-left:290px;
	padding-top: 8px;
			}

.search{
	height: 45px;
	width : 900px;
}

button_submit {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 10%;
}

button_subscribe {
	background-color: red;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 10%;
  }


.leftSideBar  {
		  width: 70%;
		  float: left;
		  }

.rigthSideBar {
		  width: 30%;
		  float: left;
		  }

.inner-left	  {
		  padding: 5px 5px 5px 5px;
		  margin-right: 10px;
		  border: #999999 1px solid;
		  min-height: 60px;
		  }

.inner-right	  {
		  font-size: 11px;
		  padding: 5px 5px 5px 5px;
		  border: #999999 1px solid;
		  min-height: 60px;
		  }
.previewdiv  {
		  width: 53%;
		  float: left;
		  }
.preview-inner-left	  {
		  padding: 5px 5px 5px 5px;
		  margin-right: 5px;
		  min-height: 60px;
		  }
.like {
  width: 30px;
  height: 30px;
}

.dislike {
	width: 30px;
	height: 30px;
  }

.views {
	font-size: 15px;
  }

.avatar {
	vertical-align: middle;
	width: 50px;
	height: 50px;
	border-radius: 50%;
  }

.coverDiv_left {
	margin: 280px;
  }